*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 20px;
    color: #eee9dc;
    font: 16px Verdana, sans-serif;
    background: #2e6ba7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
}

.branch {
    position: relative;
    margin-left: 250px;
}

.branch:before {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: 1px;
}

.entry {
    position: relative;
    min-height: 60px;
}

.entry:before {
    content: "";
    height: 100%;
    border-left: 2px solid #eee9dc;
    position: absolute;
    left: -50px;
}

.entry:after {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
}

.entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
}

.entry:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0;
}

.entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
}

.entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #eee9dc;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
}

.entry.sole:before {
    display: none;
}

.entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
}

.label {
    display: block;
    min-width: 150px;
    padding: 5px 10px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #eee9dc;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
}
.label.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}


.hover-info {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}

@media only screen and (max-width: 770px) {
  body {
    min-width: 1400px;
      font-size: 14px;
      padding: 20px;
  }
  #wrapper {
    position: relative;
    overflow-x: hidden;
  }
  .label {
      min-width: 100px;
  }

  .entry {
      min-height: 40px;
  }

  .wrapper {
      padding: 10px;
  }

  .branch {
      margin-left: 200px;
      padding-top: 12px;
  }

  .hover-info {
      width: 50%;
      max-height: 500vh;
      bottom: 10px;
      right: 5%;
  }
}
@media only screen and (max-width: 470px) {
  body {
    min-width: 140px;
    font-size: 14px;
    padding: 2px;
  }
  #wrapper {
    position: relative;
    overflow-x: hidden;
  }
  .label {
      min-width: 10px;
  }

  .entry {
      min-height: 40px;
  }

  .wrapper {
      padding: 10px;
  }

  .branch {
      margin-left: 200px;
      padding-top: 12px;
  }

  .hover-info {
    position: fixed;
    width: 1000px;
    height: 100%;
    overflow-y: auto;
  }
}